= render :partial => 'articles/header'
= render :partial => 'application/header'
= render :partial => 'header'

%h1 Listing articles
%table
  %tr
    %th Title
    %th Text

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.text
      %td= link_to 'Show', {:controller => 'articles', :action => 'show', :id => article}
      %td= link_to 'Edit', {:controller => 'articles', :action => 'edit', :id => article}

%div= image_tag asset_url('lishu')
